<a href="https://colab.research.google.com/github/ArushiMishra25/movie_recommendation_model/blob/main/movierecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**IMPORT DATASET**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**import dataset**

In [ ]:
df=pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.csv")

In [ ]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [ ]:
df.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [ ]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [ ]:
df.shape

(4760, 21)

**FEATURES SELECTION**

In [ ]:
df_features=df[['Movie_Genre','Movie_Language','Movie_Popularity','Movie_Keywords','Movie_Cast']].fillna('')

In [ ]:
df_features.shape

(4760, 5)

In [ ]:
df_features

,Movie_Genre,Movie_Language,Movie_Popularity,Movie_Keywords,Movie_Cast
0,Crime Comedy,en,22.876230,hotel new year's eve witch bet hotel room,Tim Roth Antonio Banderas Jennifer Beals Madon...
1,Adventure Action Science Fiction,en,126.393695,android galaxy hermit death star lightsaber,Mark Hamill Harrison Ford Carrie Fisher Peter ...
2,Animation Family,en,85.688789,father son relationship harbor underwater fish...,Albert Brooks Ellen DeGeneres Alexander Gould ...
3,Comedy Drama Romance,en,138.133331,vietnam veteran hippie mentally disabled runni...,Tom Hanks Robin Wright Gary Sinise Mykelti Wil...
4,Drama,en,80.878605,male nudity female nudity adultery midlife cri...,Kevin Spacey Annette Bening Thora Birch Wes Be...
...,...,...,...,...,...
4755,Horror,en,0.001389,,Lisa Hart Carroll Michael Des Barres Paul Drak...
4756,Comedy Family Drama,en,0.710870,,Roni Akurati Brighton Sharbino Jason Lee Anjul...
4757,Thriller Drama,en,0.015295,christian film sex trafficking,Nicole Smolen Kim Baldwin Ariana Stephens Brys...
4758,Family,en,0.028756,,
4759,Documentary,en,0.050625,music actors legendary perfomer classic hollyw...,Tony Oppedisano

In [ ]:
df_features['Movie_Popularity']=df_features['Movie_Popularity'].astype(str)

In [ ]:
df_features

,Movie_Genre,Movie_Language,Movie_Popularity,Movie_Keywords,Movie_Cast
0,Crime Comedy,en,22.87623,hotel new year's eve witch bet hotel room,Tim Roth Antonio Banderas Jennifer Beals Madon...
1,Adventure Action Science Fiction,en,126.393695,android galaxy hermit death star lightsaber,Mark Hamill Harrison Ford Carrie Fisher Peter ...
2,Animation Family,en,85.688789,father son relationship harbor underwater fish...,Albert Brooks Ellen DeGeneres Alexander Gould ...
3,Comedy Drama Romance,en,138.133331,vietnam veteran hippie mentally disabled runni...,Tom Hanks Robin Wright Gary Sinise Mykelti Wil...
4,Drama,en,80.878605,male nudity female nudity adultery midlife cri...,Kevin Spacey Annette Bening Thora Birch Wes Be...
...,...,...,...,...,...
4755,Horror,en,0.001389,,Lisa Hart Carroll Michael Des Barres Paul Drak...
4756,Comedy Family Drama,en,0.71087,,Roni Akurati Brighton Sharbino Jason Lee Anjul...
4757,Thriller Drama,en,0.015295,christian film sex trafficking,Nicole Smolen Kim Baldwin Ariana Stephens Brys...
4758,Family,en,0.028756,,
4759,Documentary,en,0.050625,music actors legendary perfomer classic hollyw...,Tony Oppedisano

In [ ]:
X=df_features['Movie_Genre']+' '+df_features['Movie_Language']+' '+df_features['Movie_Popularity']+' '+df_features['Movie_Cast']+' '+df_features['Movie_Keywords']

In [ ]:
X

0       Crime Comedy en 22.87623 Tim Roth Antonio Band...
1       Adventure Action Science Fiction en 126.393695...
2       Animation Family en 85.688789 Albert Brooks El...
3       Comedy Drama Romance en 138.133331 Tom Hanks R...
4       Drama en 80.878605 Kevin Spacey Annette Bening...
                              ...
4755    Horror en 0.001389 Lisa Hart Carroll Michael D...
4756    Comedy Family Drama en 0.71087 Roni Akurati Br...
4757    Thriller Drama en 0.015295 Nicole Smolen Kim B...
4758                                 Family en 0.028756
4759    Documentary en 0.050625 Tony Oppedisano music ...
Length: 4760, dtype: object

**GET FEATURES TEXT CONVERTS TO TOKEN-MEANS SPLITTING UP THE TEXT INTO SMALLER PARTS**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
model=TfidfVectorizer()

In [ ]:
X=model.fit_transform(X) #transforming the model X into tokens

In [ ]:
X

<4760x18232 sparse matrix of type '<class 'numpy.float64'>'
	with 100147 stored elements in Compressed Sparse Row format>

In [ ]:
X.shape

(4760, 18232)

In [ ]:
print(X)

  (0, 15063)	0.2320384618504504
  (0, 6071)	0.24957223956813623
  (0, 17920)	0.19510063271587094
  (0, 8796)	0.22774231337061648
  (0, 18070)	0.24595580418232763
  (0, 13388)	0.14525295800957247
  (0, 10401)	0.3856733314669357
  (0, 16820)	0.22392456133978944
  (0, 12399)	0.21736670696181135
  (0, 12214)	0.253615070369943
  (0, 5923)	0.258198453911572
  (0, 10878)	0.15036199331853872
  (0, 5779)	0.2131584570948786
  (0, 5391)	0.20941025805559163
  (0, 15098)	0.2298232165079953
  (0, 16778)	0.1729055499938517
  (0, 4335)	0.3011987780938384
  (0, 1199)	0.18388739592689313
  (0, 8670)	0.03651993463341017
  (0, 7396)	0.06919146691164635
  (0, 7650)	0.09978725933199925
  (1, 11896)	0.2759761749675494
  (1, 16147)	0.19140046624566578
  (1, 7909)	0.1631016030671154
  (1, 10196)	0.28934583420876786
  :	:
  (4757, 5752)	0.22741686181397713
  (4757, 15595)	0.1833635394617812
  (4757, 13426)	0.22553465551410473
  (4757, 9054)	0.1530763767256174
  (4757, 7179)	0.20200082888772974
  (4757, 11359)	0.21370891681942988
  (4757, 16741)	0.09217875997679559
  (4757, 8334)	0.06839121337059588
  (4757, 8670)	0.042046669384574534
  (4758, 159)	0.9381182890703972
  (4758, 8908)	0.3271024719206187
  (4758, 8670)	0.11374554309972595
  (4759, 14003)	0.3370104230871738
  (4759, 11780)	0.3370104230871738
  (4759, 4973)	0.3370104230871738
  (4759, 13666)	0.3370104230871738
  (4759, 277)	0.3370104230871738
  (4759, 15834)	0.3214383498629799
  (4759, 10335)	0.2715387916439575
  (4759, 7252)	0.3214383498629799
  (4759, 9220)	0.21829752163093533
  (4759, 8221)	0.18173518698697086
  (4759, 16832)	0.21043229839505886
  (4759, 13202)	0.1584562637744596
  (4759, 8670)	0.040862046983759885

**USING COSINE SIMLARITY**

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score=cosine_similarity(X)

In [ ]:
similarity_score

array([[1.        , 0.00128122, 0.00118347, ..., 0.00153554, 0.00415398,
        0.00149228],
       [0.00128122, 1.        , 0.0011369 , ..., 0.00147511, 0.00399051,
        0.00143355],
       [0.00118347, 0.0011369 , 1.        , ..., 0.00136257, 0.03416927,
        0.00132418],
       ...,
       [0.00153554, 0.00147511, 0.00136257, ..., 1.        , 0.00478262,
        0.00171811],
       [0.00415398, 0.00399051, 0.03416927, ..., 0.00478262, 1.        ,
        0.00464788],
       [0.00149228, 0.00143355, 0.00132418, ..., 0.00171811, 0.00464788,
        1.        ]])

In [ ]:
Favourite_movie=input("enter movie name :")

enter movie name :toy story

In [ ]:
all_titles=df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Movie_recommendation=difflib.get_close_matches(Favourite_movie,all_titles)
print(Movie_recommendation)

['Toy Story', 'Toy Story 3', 'Toy Story 2']

In [ ]:
close_match=Movie_recommendation[0]
print(close_match)

Toy Story

In [ ]:
index_of_close_match=df[df.Movie_Title==close_match]['Movie_ID'].values[0]

**GETTING A LIST OF SIMILAR MOVIES**

In [ ]:
recommendation_score=list(enumerate(similarity_score[index_of_close_match]))
#print(recommendation_score)

**SORTING MOVIES BASED ON THEIR RECOOMENDATION SCORE**

In [ ]:
sorted_movies=sorted(recommendation_score,key=lambda x:x[1],reverse=True)
#print(sorted_movies)

**PRINTING SIMILAR MOVIES BASED ON THEIR INDEX**

In [ ]:
print("top 50 movies for you:\n")
i=1
for movie in sorted_movies:
  index=movie[0]
  title_of_movie=df[df.index==index]['Movie_Title'].values[0]
  if(i<51):
    print(i,'.',title_of_movie)
    i=i+1

top 50 movies for you:

1 . Toy Story 2
2 . Toy Story
3 . Toy Story 3
4 . Teacher's Pet
5 . Quest for Camelot
6 . Cradle Will Rock
7 . Swing Vote
8 . 15 Minutes
9 . War, Inc.
10 . Dirty Work
11 . An American Carol
12 . Friends with Money
13 . Hoodwinked Too! Hood VS. Evil
14 . Flight
15 . Grosse Pointe Blank
16 . Arlington Road
17 . Cloud Atlas
18 . Transformers: Age of Extinction
19 . Martian Child
20 . Being John Malkovich
21 . Chicken Little
22 . In & Out
23 . Kit Kittredge: An American Girl
24 . Casino
25 . Catch Me If You Can
26 . Wild Hogs
27 . Zoom
28 . Mars Needs Moms
29 . Cast Away
30 . Saving Mr. Banks
31 . Christmas with the Kranks
32 . Ice Princess
33 . The Contender
34 . Samantha: An American Girl Holiday
35 . Curious George
36 . Valiant
37 . War of the Worlds
38 . The Ice Storm
39 . Crazy, Stupid, Love.
40 . Reign Over Me
41 . The Polar Express
42 . Yes
43 . The Muppet Christmas Carol
44 . The Upside of Anger
45 . Peggy Sue Got Married
46 . Where the Heart Is
47 . That Thing You Do!
48 . Big Trouble
49 . The Santa Clause 2
50 . Hachi: A Dog's Tale

**top 10 recommendation system(only english movies right now)**

In [ ]:
favourite_movie=input("enter your favourite movie and based on that we recommend you movie :")
all_titles=df['Movie_Title'].tolist()
find_close_match=difflib.get_close_matches(favourite_movie,all_titles)
close_match=find_close_match[0]
index_movie=df[df.Movie_Title==close_match]['Movie_ID'].values[0]
recommendation_score=list(enumerate(similarity_score[index_movie]))
sorted_similar_movies=sorted(recommendation_score,key=lambda x:x[1],reverse=True)
print("TOP 10 MOVIES FOR YOU IS :/n")
i=1
for movie in sorted_similar_movies:
  index=movie[0]
  title_movie=df[df.Movie_ID==index]['Movie_Title'].values
  if(i<11):
    print(i,'.',title_movie)
    i=i+1

enter your favourite movie and based on that we reommend you movie :purple hearts
TOP 10 MOVIES FOR YOU IS :/n
1 . ['Purple Violets']
2 . ['Snow White and the Huntsman']
3 . ['Out Cold']
4 . ['Queen of the Mountains']
5 . ['Iron Man']
6 . ['Pootie Tang']
7 . ['Interview with the Vampire']
8 . ["Valentine's Day"]
9 . ['The Fighter']
10 . ['Rush Hour 3']